body{
	font-size: 20px;
	font-family: sans-serif;
    color: #333;
    background-color:#81ecec;
}
.question{
    font-weight: 600;
    text-align: center;
}
.answers {
  margin-bottom: 20px;
  text-align: center;
}
.answers label{
  display: block;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #38a;
}

/* body {
    color: black;
}

.choice-container {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    font-size: 50px;

}

.choice-container:hover {
    cursor: pointer;

}

.choice-prefix {
    color: black;
    padding: 32px 40px;
}

.choice-text {
    padding: 32px;
    width: 100%;
}

#display {
    display: flex;
    justify-content: space-between;
}

.display-prefix {
    text-align: center;
    font-size: 30px;
}

.display-main-text {
    text-align: center;
}

@media screen and (max width: 800px){
    .choice-container {
        min-width: ;
    }
} */